body {
  background-color: #363c42;
}

li {
  display: inline;
  font-size: 30px;
 
}
a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1%;
  font-size: 20px;
  color: white;
}
.header {
  font-size: 17px;
  text-align: center;
}
p {
  color: white;
}

