body {
  background-color: #363c42;
}

li {
  display: inline;
  font-size: 30px;
}
img {
  height: 12%;
  width: 6%

}
.react{
  position: relative;
  top: -10px;
}

.luis {
  height: 48%;
  width: 24%;
  border-radius: 50px;
}
.footer {
  background-color: white;
  text-align: center;
  border-radius: 80px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1%;
  font-size: 20px;
  color: white;
}
.header {
  font-size: 17px;
  text-align: center;
}
p {
  color: white;
}
.reactImg {
 position: relative;
 padding-bottom: 4px
 
}

